<configuration>
  <system.web>
    <pages masterPageFile="~/_master/BasicPage.master" />
    <compilation debug="True" defaultLanguage="C#">
      <assemblies>
        <add assembly="MySql.Data, Version=6.4.3.0, Culture=neutral, PublicKeyToken=20449f9ba87f7ae2" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>